@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

body {
    font-family: "Inter", sans-serif;
    margin: 0;
  }

.history-icon-no-bg {
    width: 95px;
  }
  
  .history-icon {
    border: 3px solid #45fefe;
    width: 95px;
    border-radius: 25px;
    margin: auto;
    margin-top: 50px;
  }
  
  .history-header {
    font-size: 16px;
    text-align: center;
  }
  
  .history-input {
    flex-direction: row;
    display: flex;
    height: 50px;
    width: 300px;
    border-radius: 50px;
    margin: 15px;
    background-color: #f6f6f6;
    border: 2px solid #e8e8e8;
    padding-left: 20px;
    font-size: 16px;
  }
  
  .history-items {
    display: flex;
    flex-direction: row;
  }
  
  .history-resultado {
    width: 100%;
  }
  
  .history-titulo {
    font-weight: bold;
  }
  
  .history-resultado-header {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
  }
  
  .history-box {
    width: 20%;
  }
  .history-card {
    border: 2px solid #e8e8e8;
    border-radius: 10px;
    border-top: 0px;
    padding: 20px;
    align-items: start;
    margin: 10px;
    background-color: #e8e8e8;
  }
  .history-titulo {
    font-weight: bold;
  }
  
  .history-descricao > p,
  hr {
    margin-top: 4px;
    margin-right: 15px;
  }
  
  .history-data {
    color: #666666;
  }
  